name: Sync Labels

on:
  push:
    branches:
      - main
      - develop
    paths:
      - '.github/labels.json'
  workflow_dispatch:

jobs:
  labels:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync Labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          filename: .github/labels.json
          dry-run: false
