name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: '이 이슈는 지난 30일 동안 활동이 없어 stale 상태로 지정되었습니다. 7일 이내에 활동이 없으면 종료됩니다.'
          stale-pr-message: '이 PR은 지난 30일 동안 활동이 없어 stale 상태로 지정되었습니다. 7일 이내에 활동이 없으면 종료됩니다.'
          close-issue-message: '활동이 없어 이 이슈를 종료합니다.'
          close-pr-message: '활동이 없어 이 PR을 종료합니다.'
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          days-before-stale: 30
          days-before-close: 7
